	body
{
	background:#E9E9E9;
}
.words
{
	margin-top:8rem;
}
a{
	text-decoration:none;

}
.img
{
	width:10rem;
}
.blink {
	color:RED;

        animation: blink-animation 1s steps(5, start) infinite;
        -webkit-animation: blink-animation 1s steps(5, start) infinite;
      }
      @keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }
      @-webkit-keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }